<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>CS3219</display-name>

	<!-- J2EE goes by matching -->
	<servlet>
		<servlet-name>UmlController</servlet-name>
		<servlet-class>sg.edu.nus.comp.cs3219r.pageController.UmlController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>sg.edu.nus.comp.cs3219r.application.FrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UmlController</servlet-name>
		<url-pattern>/uml/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>
			sg.edu.nus.comp.cs3219r.ListenerServlet
		</listener-class>
	</listener>

</web-app>
